<table class="tablesytle" align= "center">
<tr>
    <th>
        <!-- S.NO -->
    </th>
    <th>
        NAME
    </th>
    <!-- <th>
        BLOOD GROUP
    </th>
    <th>
        GENDER
    </th>
    <th>
        EMAIL
    </th>
    <th>
        CONTACT NUMBER
    </th>
    <th>
        AREA OF INTEREST
    </th>
    <th>
        GRADUATION DETAILS
    </th> -->
</tr>
    {% for item in results %}
    <tr>
        <td>
            <input type="checkbox"> 
            
        </td>
        <td>
            {{ item.getFirstName }} {{ item.getLastName}}
        </td>
        <!-- <td>
            {{ item.getBloodGroup }}
        </td>
        
        <td>
            {{ item.getGender }}
        </td>
        
        <td>
            {% for items in item.getEmailId %}
                <ul style = "list-style-type:none">
                    <li style = "display:block"> {{ items.getEmailId }} </li>
                </ul>
            {% endfor %}
        </td>
        <td>
            {% for items in item.getContactNumber %}
                <ul style = "list-style-type:none">
                    <li style = "display:block"> {{ items.getContactNumber }} </li>
                </ul>
            {% endfor %}
        </td>
        <td>
            {% for items in item.getInterest %}
                <ul style = "list-style-type:none">
                    <li style = "display:block"> {{ items.getInterest }} </li>
                </ul>
            {% endfor %}
        </td>
        <td>
            {% for items in item.getGraduationType %}
                <ul style = "list-style-type:none">
                    <li style = "display:block"> {{ items.getGraduation }} </li>
                </ul>
            {% endfor %}
        </td> -->
        
        <td>
            <input type = "button" class = "view_user" id = "view_list" value = "View" onclick = "location.href = '{{ path('view_user', { 'id': item.getId }) }} '">  
        </td>
        <td>
            <input type = "button" class = "edit_user" id = "edit_list" value = "Edit" onclick = "location.href = '{{ path('edit_user', { 'id': item.getId }) }}'">
        </td>
    </tr>
    {% endfor %}
    
</table>
